root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_any_method_parameters_wrap = normal
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[**/test/**.kt]
max-line-length = 120
ktlint_ignore_back_ticked_identifier = true