*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/demos/examples/.gradle
/demos/examples/local.properties
/demos/examples/.idea/libraries
/demos/examples/.idea/modules.xml
/demos/examples/.idea/workspace.xml
/demos/examples/.DS_Store
/demos/examples/build
/demos/examples/captures
/demos/examples/.externalNativeBuild

/demos/googlepay_example/.gradle
/demos/googlepay_example/local.properties
/demos/googlepay_example/.idea/libraries
/demos/googlepay_example/.idea/modules.xml
/demos/googlepay_example/.idea/workspace.xml
/demos/googlepay_example/.DS_Store
/demos/googlepay_example/build
/demos/googlepay_example/captures
/demos/googlepay_example/.externalNativeBuild

/demos/saved_cards_example/.gradle
/demos/saved_cards_example/local.properties
/demos/saved_cards_example/.idea/libraries
/demos/saved_cards_example/.idea/modules.xml
/demos/saved_cards_example/.idea/workspace.xml
/demos/saved_cards_example/.DS_Store
/demos/saved_cards_example/build
/demos/saved_cards_example/captures
/demos/saved_cards_example/.externalNativeBuild
