name: Gradle task

on:
  workflow_call:
    inputs:
      module:
        description: 'Module to run'
        required: true
        type: string
      task:
        description: 'Task to run'
        required: true
        type: string
      task-name:
        description: 'Task Name'
        required: true
        type: string
      push-apk:
        description: 'Push artifact'
        required: false
        type: boolean
        default: false

jobs:
  task:
    name: ${{ inputs.task-name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Cache Gradle and wrapper
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
      - name: Run ${{ inputs.task }} with Gradle
        run: ./gradlew :${{ inputs.module }}:${{ inputs.task }}

      # Build Artifact Debug
      - name: Assemble Debug ${{ inputs.module }} with Gradle
        if: ${{ inputs.push-apk }}
        run: ./gradlew :${{ inputs.module }}:assembleDebug
      # Build Artifact Release
      - name: Assemble Release ${{ inputs.module }} with Gradle
        if: ${{ inputs.push-apk }}
        run: ./gradlew :${{ inputs.module }}:assembleRelease
      # Upload Artifact Build Debug
      # Noted For Output [main_project_module]/build/outputs/apk/debug/
      - name: Upload APK Debug - ${{ env.repository_name }}
        if: ${{ inputs.push-apk }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.date_today }} - ${{ env.repository_name }} - APK(s) debug generated
          path: ${{ inputs.module }}/build/outputs/apk/debug/
      # Upload Artifact Build Release
      # Noted For Output [main_project_module]/build/outputs/apk/release/
      - name: Upload APK Release - ${{ env.repository_name }}
        if: ${{ inputs.push-apk }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.date_today }} - ${{ env.repository_name }} - APK(s) release generated
          path: ${{ inputs.module }}/build/outputs/apk/release/

