name: SonarCloud Analysis

on:
  push:
    branches: [ master , "feature/*"]
  pull_request:
    # The branches below must be a subset of the branches above
    types: [ opened, synchronize, reopened ]
    branches: [ master, "bugfix/*", "feature/*", "release/*" ]
    paths:
      - 'checkout/**'
      - 'example_app_frames/**'
      - 'app/**'
      - 'frames/**'
      - 'buildSrc/**'
      - 'build.gradle.kt'
  schedule:
    - cron: '34 2 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    name: Code Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache Gradle and wrapper
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}

      - name: Build with Gradle
        run: ./gradlew :app:build

      - name: Build test coverage report for :checkout
        run: ./gradlew :checkout:jacocoTestReport

      - name: Build test coverage report for :frames
        run: ./gradlew :frames:jacocoTestReport

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.sources=.
            -Dsonar.coverage.jacoco.xmlReportPaths=**/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml
            -Dsonar.exclusions=readme-docs/**,example_app_frames/**,docs/**,code_quality_tools/**,buildSrc/**,app/**,**/*.java,**/src/test/**,**/src/androidTest/**
            -Dsonar.organization=checkout-ltd
            -Dsonar.projectKey=checkout_frames-android
