name: Verify Frames

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    types: [ opened, synchronize, reopened ]
    branches: [ master, "bugfix/*", "feature/*", "release/*" ]
    paths:
      - 'checkout/**'
      - 'frames/**'
      - 'buildSrc/**'
      - 'build.gradle.kt'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  verify-app:
    uses: ./.github/workflows/verification-flow.yml
    with:
      module: frames
      run-android-lint: true
      run-ktlint: true
      run-assemble: true
      run-unit-test: true
      run-ui-test: true
